services:
  # PostgreSQL Database
  db:
    image: postgres:18-alpine
    container_name: library_db
    volumes:
      - library_data:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s
    restart: on-failure

  # Redis
  redis:
    image: redis:8-alpine
    container_name: library_redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: on-failure

  # Django Application
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: library_app
    command: >
      sh -c "python manage.py wait_for_db &&
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: on-failure

  # Celery Worker
  celery_worker:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: library_celery_worker
    command: >
      sh -c "python manage.py wait_for_db &&
             celery -A library_service worker --loglevel=info"
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      app:
        condition: service_started
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: on-failure

  # Celery Beat (Scheduler)
  celery_beat:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: library_celery_beat
    command: >
      sh -c "python manage.py wait_for_db &&
             celery -A library_service beat --loglevel=info --scheduler django_celery_beat.schedulers:DatabaseScheduler"
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      app:
        condition: service_started
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: on-failure

volumes:
  library_data:
    name: library_data
